{:paths   ["src" "resources"]
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           instaparse/instaparse               {:mvn/version "1.4.14"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
