{:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.5.2"
                                                :git/sha "8f75b81088b9809ec3cfc34e951036b3975007fd"}}

 :aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps
                  {org.clojure/clojure {:mvn/version "1.10.3"}
                   org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}
                   nrepl/nrepl                {:mvn/version "0.8.3"}
                   lambdaisland/kaocha        {:mvn/version "1.0.887"}
                   integrant/repl             {:mvn/version "0.3.2"}

                   ; Polylith components
                   poly/ats         {:local/root "components/ats"}
                   poly/database    {:local/root "components/database"}
                   poly/decrypt     {:local/root "components/decrypt"}
                   poly/ets2        {:local/root "components/ets2"}
                   poly/files       {:local/root "components/files"}
                   poly/http        {:local/root "components/http"}
                   poly/search      {:local/root "components/search"}
                   poly/sii         {:local/root "components/sii"}

                   ; Polylith bases
                   poly/local       {:local/root "bases/local"}
                   poly/api-server  {:local/root "bases/api-server"}}
                  :main-opts  ["-m" "nrepl.cmdline"]}

            :test {:extra-paths []}

            :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.5.2"
                                                             :git/sha "8f75b81088b9809ec3cfc34e951036b3975007fd"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "20223297d6ed39ad3c3ed960410dea908c58b5ed"
                                 :deps/root "projects/poly"}}}}}
