{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps
                  {org.clojure/clojure    {:mvn/version "1.11.2"}
                   org.clojure/tools.deps {:mvn/version "0.19.1417"}
                   nrepl/nrepl            {:mvn/version "1.1.1"}
                   lambdaisland/kaocha    {:mvn/version "1.88.1376"}
                   integrant/repl         {:mvn/version "0.3.3"}

                   parka/parka {:git/url "https://github.com/bshepherdson/parka.git"
                                :sha     "d1340ce3cee02ca05f8cdeafcaefe36f6b681077"}

                   ; Polylith components
                   poly/ats         {:local/root "components/ats"}
                   poly/database    {:local/root "components/database"}
                   poly/decrypt     {:local/root "components/decrypt"}
                   poly/ets2        {:local/root "components/ets2"}
                   poly/files       {:local/root "components/files"}
                   poly/http        {:local/root "components/http"}
                   poly/search      {:local/root "components/search"}
                   poly/sii         {:local/root "components/sii"}
                   poly/util        {:local/root "components/util"}

                   ; Polylith bases
                   poly/local       {:local/root "bases/local"}
                   poly/api-server  {:local/root "bases/api-server"}}
                  :main-opts  ["-m" "nrepl.cmdline"]}

            :test {:extra-paths []}

            :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.9.2"
                                                             :git/sha "9c9f078602effe4df2b7b505003596ea1c5de436"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith {:mvn/version "0.2.19"}
                                #_{:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "20223297d6ed39ad3c3ed960410dea908c58b5ed"
                                 :deps/root "projects/poly"}}}}}
