{:paths ["src" "resources"]
 :deps {datalevin/datalevin {:mvn/version "0.5.28"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
